include partials/nav
div#gunnar_welcome
    div#gunnar_head
        div#banner_welcome
            span.banner_welcome_header Hello. 
            span.banner_welcome_header Thanks for stopping by.
            span.banner_welcome_description &quot;It&apos;s all about the training-with a little levity to get you through it!&quot;
div#highlights
    div.container
        div#whats_new.highlight
            h3 What&apos;s New?
            div.row
                div.col-4
                    img(src="resources/images/gunnar_07.png")
                div.col-8
                    h4 14 to Learn
                    p 3 supplement formulas &amp; a 14 day program of dietary intakes &amp; exercise routines.
            div.row
                div.col-4
                    img(src="resources/images/gunnar_15.png")
                div.col-8
                    h4 The Gunnar Challenge
                    p An online fitness &amp; nutrition program to help you lose weight &amp; look great fast.
        div#training_articles.highlight
            h3 Training Articles:
            div.row
                div.col-10  
                    img#magazines(src="resources/images/gunnar_09.png")
        div#who_is_gunnar.highlight
            h3 Who is Gunnar?
            div.row
                div.col-10
                    img#who_is_gunnar_video(src="resources/images/gunnar_12.png")
div#press
    div.container
