div#footer
    div.container
        div.row
            div.col-md-3
                p.brand &copy; Gunnar Peterson, Inc.
                br
                p.small Terms &amp; Conditions
            div.col-md-6
                div.row
                    div.col-md-4
                        ul
                            li Home
                            li Who I Am
                    div.col-md-4
                        ul
                            li What I say
                            li What they say
                            li Did you see this?
                    div.col-md-4
                        ul
                            li Talk to me
                            li 14 to learn
                            li Gunnar Challenge
                            li Links
            div.col-md-3
                input(value="Join our mailing list")

script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script.
  window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\\/script>')
script(src='js/application.js')
script.
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');
