nav.navbar.navbar-default.navbar-static-top#gunnar_nav
    div.container
        div.navbar-header
            span.navbar-brand Gunnar Peterson
        ul.nav.navbar-nav.navbar-right
            li
                a(href="#") Talk To Me
            li
                a(href="#") Who I Am
            li
                a(href="#") What I Say
            li
                a(href="#") What They Say
            li
                a(href="#") Did You See This?
        